html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

@media screen and (max-width:480px) {
    .myDIV5 {display:none}
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.card {
  background-color: #1a1a1a !important; }

.super-dark {
  background-color: #1a1a1a !important; }

.arno-custom-container {
	position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
}
@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.fadeIn-Pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
